h3
{
  padding: 0 20%;
  text-align: center;
}
.videowrap iframe
{
	width: 100%;
	height: 400px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}
.videowrap
{
	height: 500px;
	padding: 0;
	margin: 0 auto;
	position: relative;
}
.custom
{
	padding: 50px 0px;
}
.vid
{
  border-radius: 10px;
}
@media (max-width: 420px)
{
  .videowrap
  {
  	height: 300px;
  }
}
